/* for scroll top  */
a.scrollTop {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 10;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.btn {
  height: 40px;
  width: 100px;
  border-radius: 32px;
  background-color: #f4ab00;
  line-height: 22px;
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-title {
  max-width: 284px;
  font-size: 15px;
  font-size: 19px;
  line-height: 30px;
  color: #f4ab00;
}

.block-sub_title {
  max-width: 393px;
  font-size: 42px;
  line-height: 56px;
  color: #2c1258;
}

.block-description {
  max-width: 470px;
  font-size: 18px;
  line-height: 34px;
  color: #604b83;
}
