@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@import './command.css';
@import './modules/home-block.module.css';
@import './modules/header.module.css';
@import './modules/whyseo.module.css';
@import './modules/services.module.css';
@import './modules/team.module.css';
@import './modules/pricing.module.css';
@import './modules/blog.module.css';
@import './modules/contact.module.css';
@import './modules/footer.module.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 400 16px 'Nunito';
  line-height: 28px;
  color: #fff;
  scroll-behavior: smooth;
}

/* custom scrollbar */
::-webkit-scrollbar {
  background-color: transparent;
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #a8bbbf;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

body {
  overflow: overlay;
  height: 100vh;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

li {
  list-style-type: none;
}

textarea:focus,
input:focus {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}
button:focus {
  outline: 0;
  border: 1px solid black;
}
