@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@import './command.css';
@import './modules/home-block.module.css';
@import './modules/header.module.css';
@import './modules/whyseo.module.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 400 16px 'Nunito';
  line-height: 28px;
  color: #fff;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
li {
  list-style-type: none;
}

button {
  border: none;
  cursor: pointer;
}
button:focus {
  outline: 0;
}
